@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: 68, 68, 68;
  --primary: 59, 157, 0;
  --primaryhighlight: 72, 193, 0;
  --secondary: 120, 120, 120;
  --secondaryhighlight: 140, 140, 140;
  --secondarylight: 204, 204, 204;
}

h1 {
  @apply font-bold text-dark text-[16px];
}

.primary-button {
  @apply rounded-lg bg-primary text-white px-3 py-2 hover:bg-primaryhighlight duration-200 flex items-center gap-2
}

.std-link {
  @apply text-dark underline hover:text-secondary
}

.std-input {
  @apply rounded-lg p-2 bg-secondarylight/20 border border-secondary
}

.std-upload {
  @apply bg-white/40 p-[8px] rounded-lg border border-secondary
}

input::file-selector-button.std-upload {
  @apply p-2 px-3 m-[-9px] mr-2 rounded-md rounded-r-none border-solid cursor-pointer bg-secondarylight/50 border-secondary hover:bg-secondarylight/20 border-[1px] duration-200 text-dark
}

.box {
  @apply p-4 rounded-lg bg-secondarylight/40 border border-secondary flex flex-col gap-2 text-dark
}